<a href="https://colab.research.google.com/github/kakiang/Hamoye-projects/blob/master/Hamoye_stage_B_quizz_ML_reg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

# Multiple Cell Outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv'
df = pd.read_csv(url)
df.describe(include='all')

                       date    Appliances  ...           rv1           rv2
count                 19735  19735.000000  ...  19735.000000  19735.000000
unique                19735           NaN  ...           NaN           NaN
top     2016-04-01 11:30:00           NaN  ...           NaN           NaN
freq                      1           NaN  ...           NaN           NaN
mean                    NaN     97.694958  ...     24.988033     24.988033
std                     NaN    102.524891  ...     14.496634     14.496634
min                     NaN     10.000000  ...      0.005322      0.005322
25%                     NaN     50.000000  ...     12.497889     12.497889
50%                     NaN     60.000000  ...     24.897653     24.897653
75%                     NaN    100.000000  ...     37.583769     37.583769
max                     NaN   1080.000000  ...     49.996530     49.996530

[11 rows x 29 columns]

In [3]:
df.drop(columns=['date', 'lights'], inplace=True)
df.describe(include='all')

         Appliances            T1  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958     21.686571  ...     24.988033     24.988033
std      102.524891      1.606066  ...     14.496634     14.496634
min       10.000000     16.790000  ...      0.005322      0.005322
25%       50.000000     20.760000  ...     12.497889     12.497889
50%       60.000000     21.600000  ...     24.897653     24.897653
75%      100.000000     22.600000  ...     37.583769     37.583769
max     1080.000000     26.260000  ...     49.996530     49.996530

[8 rows x 27 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Appliances   19735 non-null  int64
 1   T1           19735 non-null  float64
 2   RH_1         19735 non-null  float64
 3   T2           19735 non-null  float64
 4   RH_2         19735 non-null  float64
 5   T3           19735 non-null  float64
 6   RH_3         19735 non-null  float64
 7   T4           19735 non-null  float64
 8   RH_4         19735 non-null  float64
 9   T5           19735 non-null  float64
 10  RH_5         19735 non-null  float64
 11  T6           19735 non-null  float64
 12  RH_6         19735 non-null  float64
 13  T7           19735 non-null  float64
 14  RH_7         19735 non-null  float64
 15  T8           19735 non-null  float64
 16  RH_8         19735 non-null  float64
 17  T9           19735 non-null  float64
 18  RH_9         19735 non-null  float64
 19  T_out        19735 non-null  float64
 20  Press_mm_hg  19735 non-null  float64
 21  RH_out       19735 non-null  float64
 22  Windspeed    19735 non-null  float64
 23  Visibility   19735 non-null  float64
 24  Tdewpoint    19735 non-null  float64
 25  rv1          19735 non-null  float64
 26  rv2          19735 non-null  float64
dtypes: float64(26), int64(1)
memory usage: 4.1 MB

In [5]:
df.isnull().sum()

Appliances     0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [6]:
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
normalised_X = normalised_df.drop(columns=['Appliances'])
normalised_target_Appl = normalised_df['Appliances']

In [7]:
# 12. Fit a linear model on the relationship between (x = T2) and (y = T6). What is the R^2 value in two D.P?

X_train_T2, X_test_T2, y_train_T6, y_test_T6 = train_test_split(normalised_X[['T2']],normalised_X[['T6']],
                                                                test_size=0.3, random_state=42)
model_T2_T6 = LinearRegression()
model_T2_T6.fit(X_train_T2, y_train_T6)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
# R^2 value in two D.P
y_predicted_T6 = model_T2_T6.predict(X_test_T2)
r2_score_T2_T6 = r2_score(y_test_T6, y_predicted_T6)
round(r2_score_T2_T6, 2)

0.64

In [9]:
# 13. The Mean Absolute_Error (in two decimal places)
X_train, X_test, y_train, y_test = train_test_split(normalised_X, normalised_target_Appl, test_size = 0.3, random_state = 42)
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)
y_predcited = lr_model.predict(X_test)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
lr_model_mae = mean_absolute_error(y_test, y_predcited)
round(lr_model_mae, 2)

0.05

In [11]:
# 14. The Residual Sum of Squares (in two decimal places)?
lr_model_rss = np.sum(np.square(y_test - y_predcited))
round(lr_model_rss, 2)

45.35

In [12]:
# 15. The Root Mean Squared Error (in three decimal places)
lr_model_rmse = np.sqrt(mean_squared_error(y_test, y_predcited))
round(lr_model_rmse, 3)

0.088

In [13]:
# 16. The Coefficient of Determination (in two decimal places) 
lr_r2 = r2_score(y_test, y_predcited)
round(lr_r2, 2)

0.15

In [14]:
# 17. Feature weights from the linear model above. Which features have the lowest and highest weights respectively?
lr_model_weights = pd.Series(lr_model.coef_, normalised_X.columns).sort_values()
lr_model_weights

RH_2          -0.456698
T_out         -0.321860
T2            -0.236178
T9            -0.189941
RH_8          -0.157595
RH_out        -0.077671
RH_7          -0.044614
RH_9          -0.039800
T5            -0.015657
T1            -0.003281
rv1            0.000770
rv2            0.000770
Press_mm_hg    0.006839
T7             0.010319
Visibility     0.012307
RH_5           0.016006
RH_4           0.026386
T4             0.028981
Windspeed      0.029183
RH_6           0.038049
RH_3           0.096048
T8             0.101995
Tdewpoint      0.117758
T6             0.236425
T3             0.290627
RH_1           0.553547
dtype: float64

In [15]:
# 18. Train a ridge regression model with an alpha value of 0.4. 
# Is there any change to the root mean squared error (RMSE) when evaluated on the test set?
ridge_model = Ridge(alpha=0.4)
ridge_model.fit(X_train, y_train)
ridge_y_predicted = ridge_model.predict(X_test)
rmse_ridge_model = np.sqrt(mean_squared_error(y_test, ridge_y_predicted))
round(rmse_ridge_model, 3)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

0.088

In [16]:
# 19. Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. 
# How many of the features have non-zero feature weights?
lasso_model = Lasso(alpha=0.001)
lasso_model.fit(X_train, y_train)
lasso_model_weights = pd.Series(lasso_model.coef_, normalised_X.columns)
lasso_model_weights[lasso_model.coef_ != 0]
print('\n{} of the features have non-zero feature weights'.format(lasso_model_weights[lasso_model.coef_ != 0].count()))

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

RH_1         0.017880
RH_8        -0.000110
RH_out      -0.049557
Windspeed    0.002912
dtype: float64

4 of the features have non-zero feature weights

In [17]:
# 20. RMSE with the Lasso Regression (in 3 decimal places)
lasso_model_y_predicted = lasso_model.predict(X_test)
rmse_lasso_model = np.sqrt(mean_squared_error(y_test, lasso_model_y_predicted))
rmse_lasso_model.round(3)

0.094