<a href="https://colab.research.google.com/github/kakiang/Hamoye-projects/blob/master/Hamoye_Intro_Python_for_ML_quizz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hamoye_Intro_Python_for_ML_quizz

In [7]:
# 1. If youâ€™re given two lists: A = [1,2,3,4,5,6], B = [13, 21, 34]
# The task is to create a list with the elements of A and B in a single 
# dimension with output: A_B =  [1,2,3,4,5,6,13, 21, 34]

A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [8]:
# 2. How do you create an identity matrix in python?
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
url = 'https://bit.ly/HDSC-StageOneDataset'
df = pd.read_csv(url)

In [3]:
df.sample(5)

                      record_id  ...  fuel_cost_per_mmbtu
7694    f1_fuel_2000_12_161_1_4  ...                6.363
10416  f1_fuel_2002_12_194_4_13  ...                4.051
5114    f1_fuel_1998_12_176_0_1  ...                2.514
16711   f1_fuel_2007_12_159_0_6  ...               14.488
28650  f1_fuel_2018_12_176_1_11  ...                2.151

[5 rows x 11 columns]

In [14]:
df.dtypes

record_id                        object
utility_id_ferc1                  int64
report_year                       int64
plant_name_ferc1                 object
fuel_type_code_pudl              object
fuel_unit                        object
fuel_qty_burned                 float64
fuel_mmbtu_per_unit             float64
fuel_cost_per_unit_burned       float64
fuel_cost_per_unit_delivered    float64
fuel_cost_per_mmbtu             float64
dtype: object

In [15]:
df.shape

(29523, 11)

In [23]:
# 3. Which of the following fuel type code has the lowest average fuel cost per unit burned?
df_avg_fuel_cost_burned_per_type = df.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values(ascending=True)
print(df_avg_fuel_cost_burned_per_type)

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

'gas'

In [24]:
df_avg_fuel_cost_burned_per_type.index[0]

'gas'

In [18]:
# 4. What is the standard deviation and 75th percentile of the measure of energy
# per unit (Fuel_mmbtu_per_unit) in two decimal places?
df.fuel_mmbtu_per_unit.describe().round(2)

count    29523.00
mean         8.49
std         10.60
min          0.00
25%          1.02
50%          5.76
75%         17.01
max        341.26
Name: fuel_mmbtu_per_unit, dtype: float64

In [19]:
# 5. What is the skewness and kurtosis for the fuel quantity burned in two decimal places?
df.fuel_qty_burned.skew().round(2)

15.85

In [20]:
df.fuel_qty_burned.kurt().round(2)

651.37

In [25]:
# 6. Which feature has missing values and what is the total number of missing value
# and percentage of the missing rows as a factor of the total number of rows in 
# three decimal places? 
# (Enter answer in the format: Feature: xxx, Total: xxx, Percent: xxx)
missing_val_per_col = df.isna().sum()
missing_val_per_col

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [31]:
(missing_val_per_col[missing_val_per_col!=0] / df.shape[0] * 100).round(3)

fuel_unit    0.61
dtype: float64

In [33]:
# 7. The feature with missing values falls under what category? 
# What missing value imputation technique would you use?
df.fuel_unit.dtype

dtype('O')

In [35]:
# 8. Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?
df.corr().sort_values(['fuel_cost_per_unit_burned'], ascending=True)[['fuel_cost_per_unit_burned']].round()

                              fuel_cost_per_unit_burned
utility_id_ferc1                                   -0.0
fuel_qty_burned                                    -0.0
fuel_mmbtu_per_unit                                -0.0
fuel_cost_per_mmbtu                                -0.0
fuel_cost_per_unit_delivered                        0.0
report_year                                         0.0
fuel_cost_per_unit_burned                           1.0

In [36]:
# 9. For the fuel type coal, what is the percentage change in the fuel cost per 
# unit burned in 1998 compared to 1994?
df_coal = df[df['fuel_type_code_pudl'] == 'coal']
df_coal_by_year = df_coal.groupby('report_year').sum()
(df_coal_by_year[df_coal_by_year.index.isin([1994, 1998])].pct_change() * 100).round(0)

             utility_id_ferc1  ...  fuel_cost_per_mmbtu
report_year                    ...
1994                      NaN  ...                  NaN
1998                     -8.0  ...                -18.0

[2 rows x 6 columns]

In [37]:
# 10. Which year has the highest average fuel cost per unit delivered?
df.groupby('report_year').mean()['fuel_cost_per_unit_delivered'].sort_values(ascending=False)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64